<!doctype html>
<html lang='en'>
    <body>
    	<center>
        <div class='header-container'>
            <h1 id='header'><img src= "/views/img/title.jpg">
            <a href='/'>Magic Hangman</a></h1>
        </div>
  <header>

            <ul class="textstyle">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href='https://en.wikipedia.org/wiki/Hangman_(game)' target='blank'>What is Hangman?</a>      
                </li>
                <li>
                    <a href="/name">
                        Play
                    </a>
                </li>
            </ul>
    </header>
    </center>
    </body>
</html>

