<!doctype html>
<html lang='en'>
    <body>
    	<center>
          <header>
            <a>Magic Hangman</a></h1>
            </header>



                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href='https://en.wikipedia.org/wiki/Hangman_(game)' target='blank'>What is Hangman?</a>      
                </li>
                <li>
                    <a href="/player_1_name">
                        Play
                    </a>
                </li>


    </center>
    </body>
</html>

