<center>
 <%= player_2_name %>, your secret word is: <br>
 <br>
<%= blank_word %>
<br>
<br>
Guessed Letters: <%= guessed_letters.to_s %><br><br>
<br>

<br>
Enter your letter guess below:
<br>
<br>
<form method="post" action="letter_guess">
	<input type="text" name="letter_guess" placeholder= "Enter Letter" autofocus="autofocus" required>
	<input type="submit">
</form>
<br>
<% if session[:game].chances == 0 %>
<img src= "/img/one.jpg" width= "200">
<% elsif session[:game].chances == 1 %>
<img src= "/img/two.jpg" width= "200">
<% elsif session[:game].chances == 2 %>
<img src= "/img/three.jpg" width= "200">
<% elsif session[:game].chances == 3 %>
<img src= "/img/four.jpg" width= "200">
<% elsif session[:game].chances == 4 %>
<img src= "/img/five.jpg" width= "200">
<% elsif session[:game].chances == 5 %>
<img src= "/img/six.jpg" width= "200">
<% elsif session[:game].chances == 6 %>
<img src= "/img/seven.jpg" width= "200">
<% elsif session[:game].chances == 7 %>
<img src= "/img/eight.jpg" width= "200">
<h1>LAST CHANCE, MAKE IT COUNT!!!</H1>
<%end%>
