<center><p>Thanks, <%= player_1_name %>, let's get started!<br>
<br>
Are you ready to play?</p>

<div class="form-container">
	<form action="/play_game" method="post" autofocus="autofocus">
	    <input type="submit">
	</form>
</div>