<center>
 Your secret word is <%= blank_word %>.
<br>
<br>
Guessed Letters <%= guessed_letters.to_s %><br><br>
Choose a lower case letters or else!
<br>
<br>
<form method="post" action="letter_guess">
	<input type="text" name="letter_guess" pattern="[a-z]" maxlength="1" placeholder= "Enter Letter" autofocus="autofocus" required>
	<input type="submit">
</form>