<center><p>Welcome to Magic Hangman!<br>
<br>
Let's play a game of Hangman<br>
<br>
But first, what is your name?<br>

<div class="form-container">
	<form action="/player_1_name" method="post">
	    <input type="text" name="player_1" autofocus="autofocus" placeholder="Enter name">
	    <input type="submit">
	</form>
</div>


</p>
</center>