<center><p>Welcome to Magic Hangman!<br>
<br>
Let's play a game of Hangman<br>
<br>
But first, what is your name?<br>

	<form action="name" method="post">
	    <input type="text" name="name" autofocus="autofocus" placeholder="Enter name">
	    <input type="submit">
	</form>
